@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar{
  background: $color-one;
  margin-top: $margin;
}

.login {
  color: $color-one;
}

.form {
  margin-top: $base-size;
  margin-bottom: $margin;
}

.button {
  margin-top: $base-size;
}