@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar{
  background: $color-one;
  margin-top: $margin;
}

.neworderview {
  color: $color-one;
  margin-top: $base-size;
  margin-bottom: $base-margin;
}

.textField {
  width: 100px;
  margin-bottom: $base-size;
}

.select {
  min-width: 125px;
  margin-bottom: $base-size;
}

.formgroup {
  padding-right: $base-margin;
  margin-bottom: $base-size;
}