@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background: $color-one;
  margin-top: $base-margin;
}

.orderview {
  color: $color-one;
  margin-top: $base-size;
}

.table {
  margin-top: $base-size;
  max-width: 400px;

  .tablehead {
    background-color: $color-one;
    .title {
      color: $color-two;
    }
  }
}

.fieldarea {
  height: 40px;
}