@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background: $color-one;
  margin-top: $base-margin;
}

.eventview {
  color: $color-one;
  margin-top: $base-size;
}

.eventsub {
  text-align: right;
  margin-bottom: $small-margin;
  font-size: 80%;
}

.grid {
  margin: $base-margin;
}

.form {
  border: 1px dotted $color-one;
  border-radius: $base-size;
  padding: $base-size $base-margin;
  margin-top: $base-margin;
}

.textField {
  width: 120px;
  margin-top: 0;
  margin-bottom: 0;
}

.select {
  min-width: 120px;
}

.addbtn {
  margin-bottom: $base-margin;
}